<footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <div class="d-flex">
            <p>Github: </p>
            <a class="text-dark" href="https://github.com/MaysaraSafwat"> https://github.com/MaysaraSafwat</a>
      
        </div>
        <div class="d-flex">
            <p>LinkedIn: </p>
            <a class="text-dark" href="https://www.linkedin.com/in/maysara-safwat-204a7021b/">https://www.linkedin.com/in/maysara-safwat-204a7021b/</a>
      
        </div>
     
    </div>
    <!-- Copyright -->
  </footer>
