<div class="container mt-6 text-center">
    <h2>Our students </h2>
    <table class="table .table-striped ">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let s of students; index as i">
                
                <td> <a routerLink="/students/5">{{i+1}}</a></td>
                <td>{{s.name}}</td>
                <td>{{s.age}}</td>
                <td>{{s.email}}</td>
                
              </tr>
        </tbody>
      </table>

</div>
