

table {
    width: 90%;
    margin: 2% auto;
    text-align: center;
    font-size: 18px;
    border-collapse: collapse;
  }
  
  td,
  th {
    padding: 16px 24px;
    text-align: left;
    
  }
  thead{
    border-radius: 20px;
  }
  thead tr {
    background-color: palevioletred;
    color: #fff;
  }
  
  thead th {
    width: 25%;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #f8f9fa;
  }
  
  tbody tr:nth-child(even) {
    background-color: #e9ecef;
  }
  